.section {
    margin-top: 32px;
}

.title {
    font-size: 19px;
    font-weight: 700;
    color: #28251d;
    margin: 0 0 16px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(217px, 1fr));
    gap: 16px;
}